.text-logo {
    color: #7F7F7F;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.04em;

    margin: 0;
}