.header-profile-photo {
    cursor: pointer;

    user-select: none;

    width: 52px;
    height: 52px;

    border-radius: 10px 10px 0 10px;

    transition: transform 0.3s, scale 0.3s;
}

.header-profile-photo:hover {
    transform: perspective(500px) rotateY(25deg);
}

.header-profile-photo:active {
    scale: 0.85;
}